{% extends 'main.html' %} 

{% load static  %}
{% block body %}

<div class="row">
   {% for pro in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{pro.imageUrl}}">
        <div class="box-element product">
            <strong> <h4>{{pro.name}}</h4></strong>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"> Add To Cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display:inline-block;float:right;">${{pro.price|floatformat:2}}</h4>
        </div>  
    </div>
    {% endfor %}
</div>
{% endblock %}